{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block content %}
  <div>
    <div class="row">
      <div class="col-auto">
        <h1>
          Lista de Produtos
          <a
            href=""
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addModal"
            hx-get="{% url 'product:product_create' %}"
            hx-target="#addContent"
            hx-swap="innerHTML"
          >Adicionar</a>
        </h1>
      </div>
    </div>

    {% render_table table %}
  
  </div>

  {% include "../includes/add_modal.html" %}

{% endblock content %}
