<!-- order_form.html -->
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}

  <style>
    .form-control {
      margin: 10px;
    }
    .legend {
      border-bottom: 1px solid #e5e5e5;
    }
  </style>

{% endblock css %}

{% block content %}

  <div class="row">
    <div class="cols">
      <form method="POST" novalidate>
        {% csrf_token %}

        <legend class="legend">Ordem de compra</legend>

        <div class="row">
          <div class="col-sm-6">
            {% for field in form.visible_fields %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">
                  {% if field.field.required %}
                    <span class="required">{{ field.label }}</span>
                  {% else %}
                    {{ field.label }}
                  {% endif %}
                </label>

                {% render_field field class="form-control" %}

                {% for error in field.errors %}
                  <span class="text-muted">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}

            {{ formset.management_form }}

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">

            <legend class="legend">Itens</legend>

            <div id="order" class="form-inline">

              {% for order_item_form in formset %}
                <div id="item-{{ forloop.counter0 }}" class="form-group">
                  {% render_field order_item_form.order data-field='order' %}
                  {{ order_item_form.id }}

                  {{ order_item_form.product.label }}
                  {% render_field order_item_form.product class="form-control" hx-get="/ecommerce/product/price/" hx-target="#id_price" hx-swap="outerHTML" data-field='product' %}

                  {{ order_item_form.quantity.label }}
                  {% render_field order_item_form.quantity class="form-control" data-field='quantity' %}

                  {{ order_item_form.price.label }}
                  {% render_field order_item_form.price class="form-control" data-field='price' %}

                  {% if order_item_form.id.value %}
                    <span
                      class="span-is-link no ml-2 remove-row"
                      hx-delete="{% url 'ecommerce:order_item_delete' order_item_form.id.value %}"
                      hx-confirm="Deseja mesmo deletar o item {{order_item_form.id.value}}?"
                      hx-target="#item-{{ forloop.counter0 }}"
                      hx-swap="outerHTML"
                    >
                      <i class="fa fa-times fa-lg"></i>
                    </span>
                  {% else %}
                    <span class="span-is-link no ml-2" onclick="removeRow()">
                      <i class="fa fa-times fa-lg"></i>
                    </span>
                  {% endif %}
                </div>
              {% endfor %}

            </div>

          </div>
        </div>

        <span
          id="addItem"
          class="btn btn-info mt-2"
          hx-get="{% url 'ecommerce:add_row_order_items_hx' %}"
          hx-target="#order"
          hx-swap="beforeend"
        >
          <i class="fa fa-plus"></i>
          Adicionar
        </span>

        <div class="row float-right">
          <div class="col-sm-12 mt-2">
            <div class="form-inline buttons">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-floppy-o"></i>
                Salvar
              </button>
              <a
                id="btn-close"
                href="{% url 'ecommerce:order_list' %}"
                class="btn btn-primary"
                style="display: none"
              >
                <i class="fa fa-close"></i>
                Fechar
              </a>
              <a
                href="{% url 'ecommerce:order_list' %}"
                class="btn btn-danger ml-2"
              >
                <i class="fa fa-times"></i>
                Cancelar
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}

{% block js %}

  <script src="{% static 'js/main.js' %}"></script>

  <script>
    // Necessário por causa do delete
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
  </script>

{% endblock js %}
