{% load widget_tweaks %}

<div id="item-{{ forloop.counter0 }}" class="form-group">

  <div class="form-group">
    {% render_field order_item_form.order %}

    <label>{{ order_item_form.product.label }}</label>
    {% render_field order_item_form.product class="form-control" %}

    <label>{{ order_item_form.quantity.label }}</label>
    {% render_field order_item_form.quantity class="form-control" %}

    <label>{{ order_item_form.price.label }}</label>
    {% render_field order_item_form.price class="form-control" %}
  </div>

  <span class="span-is-link no ml-2" onclick="removeRow()">
    <i class="fa fa-times fa-lg"></i>
  </span>

</div>